<!DOCTYPE html>
<html>
<head>
	<title>lenzalot</title>
</head>
<body>
<script type="text/template" id="feedItem">
<div class="channel">
	<h1><%= channel %></h1>
	<img src="<%= latest_photo.url %>" />
	<p><%= latest_photo.title %></p>
</div>
</script>
<form id="signup-form" method="POST" action="/signup">
	<input id="signup-username" type="text" name="username"><br />
	<input id="signup-password" type="password" name="password"><br />
	<input id="signup-submit" type="submit" value="sign up">
</form>
<form id="login-form" method="POST" action="/login">
	<input id="login-username" type="text" name="username"><br />
	<input id="login-password" type="password" name="password"><br />
	<input id="login-submit" type="submit" value="log in">
</form>

<form id="photo-form" method="POST" enctype="multipart/form-data" action="/upload">
	<input id="photo-channel" type="text" name="channel" placeholder="channel_name"><br />
	<input id="photo-file" type="file" name="file"><br />
	<input id="photo-submit" type="submit" value="upload">
</form>

<ul id="channelList"></ul>
<div id="feed"></div>

<script src="//yastatic.net/underscore/1.6.0/underscore-min.js"></script>
<script src="/index.js"></script>
</body>
</html>
